.btn {
    display:flex;
    position: absolute;
    top: -3%;
    left: 50%;
    translate: -100%;
    /* align-items:center;
    justify-content:center; */
    font-size: 20px;
    width: 60px;
    /* padding: 5px; */
    border: transparent;
    border-radius: 10px;
    /* margin: 20px auto; */
    color: #0f0f4b;
    background-color: lightblue;
    /* background-image:url(https://www.wallpapertip.com/wmimgs/69-691636_best-background-images-for-website-wallpapers-high-good.jpg); */

    border: 3px solid #0f0f4b;

}

.btn:hover {
    cursor: pointer;
    background-color: #0f0f4b;
    color: lightblue;
    border: 3px solid transparent;
}

.mapBox {
    position:'absolute';
    left: 5%;
    right: 5%;
    top: 0;
    /* left: auto;
    right: auto; */
    height: 100%;
    width: 100%;
}

@media(max-width: 1200px) {
    .mapBox {
        /* position:'absolute'; */
        /* left: 15%; */
        position: absolute;
        left: 3%;
        right: 8%;
        /* top: 10%; */
        /* bottom: 0; */
        /* left: 10%; */
        /* top: -150px; */
        height: 90%;
        width: 80%;
    }

  }

  @media(max-width: 600px) {
    .mapBox {
        /* position:'absolute'; */
        /* left: 15%; */
        position: absolute;
        left: -2%;
        right: 8%;
        /* top: 10%; */
        /* bottom: 0; */
        /* left: 10%; */
        /* top: -150px; */
        height: 90%;
        width: 80%;
    }

  }